.vscode/**
.vscode-test/**
.gitignore
.eslintrc.json
vsc-extension-quickstart.md
src/**
tsconfig.json
tslint.json
**/*.map
**/*.ts
!out/**/*.js
node_modules/**
demo/**
docs/**
old/**
syntax/**
.git/**
*.vsix
